:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --supporting-color: #353430;
  --main-title-color:  #FFC2E6;
  --title-shadow-color: #FF8DCB;
  --paragraph-text-color: #353430;
  --hovered-button-border: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
   --bg-image: url("../images/cover-image-light.png");
  --bg-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --supporting-color: #353430;
  --main-title-color:  #FFC2E6;
  --title-shadow-color: #FF8DCB;
  --paragraph-text-color: #353430;
  --hovered-button-border: rgba(50, 49, 45, 0.4);
  }
}

.theme-light .header__rec-indicator {
  display: none;
}